body {
    background-color:#212B34;
	color:#FFF4D4;
}

div.intro {
	font-family: 'Roboto', sans-serif;
	font-size: calc(112.5% + 8vw);
	margin-top: 10vw;
	text-align: center;
}

div.desc {
	text-align: center;
    width: 60vw;
	font-family: 'Ropa Sans', sans-serif;
	font-size: calc(112.5% + 1vw);
	margin:0 auto;
}

div.desc p{
	display: inline-block;
    text-align: left;
}
