<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>what</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
		<link href="https://fonts.googleapis.com/css?family=Roboto:900|Ropa+Sans" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

	<div class="intro"><a style="color:#FFF4D4; text-decoration:none" href={{ url_for('/') }}>imgyr</a></div>
	<div class="desc"> <p>You gave me an error. <a href="https://youtu.be/MUINFs1Sp94"> Nice, Ron. <br> </a> {{ message }}</p>
	</div>
    </body>
</html>
